@-webkit-keyframes rotate {
	from {
	  -webkit-transform: rotate(0deg);
	}
	to { 
	  -webkit-transform: rotate(360deg);
	}
  }
  .loading_img
  {
	-webkit-animation-name:             rotate; 
	-webkit-animation-duration:         0.5s; 
	-webkit-animation-iteration-count:  3;
	-webkit-ANIMATION-timing-function: linear;
}
		
.bombo_size{
	width: 20%;
	height: 20%;
	padding: 10px;
	margin-left: 20px;
}
.bombo_size_logo{
	width: 80%;
	height: 80%;
	padding: 10px;
	margin-left: 40px;
}

.card_center_bombo_page{
	width: 70%;
	margin: auto;
	margin-top: 5%; 

}

.centrarInput_bombo_page{
	padding: 0px 1%;
	
}
.bomboCardBackground{
	background-color: #e8f5e9;
}

tr{
	background-color: #fafafa;
	/*background:rgba(0,0,0,0.1);*/
	width: 10px;

}
th{
	background-color: #26a69a;
	color:black;
}
table{
    table-layout: fixed;
    width: 250px;
}

th, td {
    border: 1px solid blue;
    width: 100px;
    word-wrap: break-word;
}


/*ajustes tabla*/
.centrar_texto{
	margin: 0px;
	color: white;
}
.centrar_texto_bombo{
	margin: 3px;
	color: black;
}


#copa{
	height: 80px;
	width: 80px;
}

#dialogImg{
	height: 50px;
	width: 50px;
}
#dialogTitleFIFA{
	position:absolute;
    bottom:5px;
    right:10px;
}


.positionButtonRight{
    float: right;
}

.imageTable{
    margin: auto;
	float: left;
	width: 50px;
    height: 30px;
}
.textTable{
    margin-top: 2%;
    float: left;
    padding-left: 5px;
}