.table{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 5%; 

}
.table_imagen{
    margin: auto;
    float: left;
}
.table_centrar_texto{
    margin-top: 2%;
    float: left;
    padding-left: 20px;
}
