@import url('https://fonts.googleapis.com/css?family=Roboto');
.nav_color{
    background-color: #004d40;
}
.nav_logo{
    margin-left: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e8f5e9;
}
.centrar_texto{
    text-align: center;
}
h3 .centrar_texto{
    margin: 200px;
}