@import url('https://fonts.googleapis.com/css?family=Roboto');
.classTablita{
    margin-left: 20%;
    margin-right: 20%;
} 

.thBoard{
    background-color: #0B614B;
    color: white;
}

.tdBoard{
    width: 25%;
}

.imgBoard{
    width: 50px;
    height: 30px;
}
.nav_color{
    background-color: #004d40;
}
.nav_logo{
    margin-left: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e8f5e9;
}
.centrar_texto{
    text-align: center;
}
h3 .centrar_texto{
    margin: 200px;
}
.footer_color{
    background-color: #00332b;
}

.card_center{
    width: 70%;
    margin: auto;
    margin-top: 5%; 
}

.select_correction{
    display: block;
}

.centrarInput{
   padding: 0px 15%;
}
.widthButtonInput{
    width: 100%;
}
.black_letter{
    color: black;
}